  body {
    background-color: #1e2933;
    color: #b9cddf;
    font-family: Hevletica, sans-serif;
    padding: 0;
    margin: 0;
  }
  .display {
    padding: 0;
    margin: 0;
    overflow: hidden;
    text-align: center; /* 추가 */
  }

  /* ------------------- Default Style ------------------------- */

  .gauge-container {
    width: auto;
    height: auto;
    display: inline-block;
    /* float: left; */
    padding: 10px;
    overflow: hidden;
    margin: 0 auto; /* 가운데 정렬을 위해 추가한 코드 */
  }
  .gauge-container.one > .gauge > .dial {
    stroke: #334455;
    stroke-width: 2;
  }

  .gauge-container.one > .gauge > .value {
    stroke: rgb(47, 227, 255);
    stroke-width: 2;
  }

  .gauge-container.one > .gauge > .value-text {
    fill: rgb(47, 227, 255);
    font-family: sans, 'sans-serif';
    font-weight: bold;
    font-size: 0.6em;
  }

  /* ------------------- Alternate Style ------------------------- */

  .gauge-container.two {
    height: auto;
    border: 1px solid rgba(255,255,255,0.1);
  }
  .gauge-container.two > .gauge > .dial {
    stroke: #334455;
    stroke-width: 10;
  }
  .gauge-container.two > .gauge > .value {
    /*stroke: orange;*/
    stroke-dasharray: none;
    stroke-width: 13;
  }
  .gauge-container.two > .gauge > .value {
    /*fill: orange;*/
  }


  /* ------------------- Alternate Style 2 ------------------------- */

  .gauge-container.three {
  }
  .gauge-container.three > .gauge > .dial {
    stroke: #334455;
    stroke-width: 2;
    /*stroke-dasharray: 125, 20;*/
  }
  .gauge-container.three > .gauge > .value {
    stroke: #C9DE3C;
    stroke-width: 5;
    /*stroke-dasharray: 125, 20;*/
  }
  .gauge-container.three > .gauge > .value-text {
    fill: #C9DE3C;
  }


  /* ------------------- Alternate Style 2 ------------------------- */

  .gauge-container.four > .gauge > .dial {
    stroke: #334455;
    fill: "#334455";
    stroke-width: 5;
  }
  .gauge-container.four > .gauge > .value {
    stroke: #BE80FF;
    stroke-dasharray: none;
    stroke-width: 5;
  }
  .gauge-container.four > .gauge > .value-text {
    fill: #BE80FF;
  }
  .gauge-container.four .text-container {
    transform: translate3d(-13%, -11%, 0)
  }



  .gauge-container.five .text-container {
    transform: translate3d(0, 7%, 0);
  }
  .gauge-container.five > .gauge > .dial {
    stroke: #334455;
    fill: "#334455";
    stroke-width: 5;
  }
  .gauge-container.five > .gauge > .value {
    stroke: #F8774B;
    stroke-dasharray: none;
    stroke-width: 5;
  }
  .gauge-container.five > .gauge > .value-text {
    fill: #F8774B;
    font-size: 0.7em;
  }



  .gauge-container.six > .gauge > .dial {
    stroke: #334455;
    fill: "#334455";
    stroke-dasharray: 110 10;
    stroke-width: 5;
  }
  .gauge-container.six > .gauge > .value {
    stroke: #FF6DAF;
    stroke-dasharray: 10 1;
    stroke-width: 5.2;
  }
  .gauge-container.six > .gauge > .value-text {
    fill: #FF6DAF;
    font-size: 0.7em;
  }

  .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .button:hover span {
    padding-right: 25px;
  }

  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
